streamlit
pandas
numpy
plotly
ccxt
python-dotenv
aiohttp
nest-asyncio
beautifulsoup4
PyJWT
bcrypt
extra_streamlit_components
datetime
#web3==6.11.1
#eth-typing==3.5.1
#aiohttp==3.9.1
#scikit-learn>=1.0.2
#joblib>=1.1.0
#websockets==10.4
